APPLICATION_FQDN="hmc.example.com"
APPLICATION_MAIL="hmc@example.com"
APPLICATION_NAME="Custom Giltab Instance"

DB_HOST="redis"

OIDC_PROVIDER="https://auth.keycloak.de/realms/DEMO"
OIDC_ID="hmc"
OIDC_SECRET=

